html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: rgb(43, 40, 40);
  background-color: #f3f3f3;

  margin: 0;
  padding: 0;
}

.section {
  padding: 15rem 3rem;
}

.header {
  display: flex;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(/ressources/img/background-img.jpg);
  background-position: center;
  background-size: cover;

  background-repeat: no-repeat;
}

.header-div {
  width: 100%;
  height: 50%;
  position: relative;
  align-items: center;
  text-align: center;
}
p {
  margin-top: 30px;
  font-size: 18px;
  color: rgb(207, 192, 192);
}
.header-div p {
  margin-top: 30px;
  font-size: 18px;
  color: rgb(207, 192, 192);
}
.header-div p {
  margin-top: 30px;
}
.header h1 {
  color: #fff;
  margin-top: 350px;
}
.title {
  text-align: center;
  font-size: 72px;

  font-weight: 700;
}
.btn {
  color: #fff;

  border: 2px #fff;
  background-color: indianred;
  width: 180px;
  height: 50px;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 2px 3px 10px #5d5959;
}
.btn-a {
  font-weight: 700;
  font-size: 22px;
  color: #fff;
  text-decoration: none;
}
#header-btn {
  margin-top: 30px;
}
.highlight {
  color: rgb(52, 49, 49);
  background-color: bisque;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 7px;
}
.section-one {
  width: 1000px;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  margin-top: 100px;
  height: 700px;
  background-color: #f3f3f3;
}

.section_one-div-one {
  margin: 0 auto;
  height: 300px;
}
.h3 {
  font-size: 44px;
  color: #444;
}
.h4 {
  font-size: 22px;
}
p {
  color: #444;
}
.section_one-div-two h4 {
  padding-top: 30px;
}

.section_one-div-one p {
  color: rgb(107, 100, 100);
  font-weight: 500;
}

.section_one-div-two {
  width: 100%;
  margin: 0 auto;
}
.main-box {
  height: 100px;
  display: flex;
}
.border {
  padding-top: -200px;
  margin-bottom: 60px;
  width: 100%;
  border: 1px solid #ddd;
}
.box {
  border-radius: 5px;
  background-color: #ddd;
  margin: 0 auto;
  width: 150px;
  height: 120px;
  padding-left: 20px;
}
.text {
  font-size: 32px;
  color: #444;
  height: 50px;
  font-weight: 700;
  text-align: center;
}
.box-two {
  border: 2px solid rgb(223, 112, 65);
}
.box-two p {
  color: rgb(223, 112, 65);
}
.section_one-div-btn {
  margin-top: 20px;
}
#money {
  border: 2px solid rgb(223, 112, 65);
  margin: 20px;
  width: 200px;
  height: 30px;
  border-radius: 5px;
}
.section-two {
  width: 100%;
  height: 800px;
  background-color: #fff;
}

.box-plan {
  display: flex;

  width: 85%;
  height: 500px;
  margin: 0 auto;
}
.item-box {
  width: 25%;
  height: 100%;
  margin-left: 80px;
  padding: 20px;
  box-shadow: 2px 4px 10px #f3e0e0;
}
.section_two-div-one p {
  text-align: center;
  color: #444;
  padding-bottom: 30px;
}
.icon {
  width: 100px;
  height: 230px;
}
.item-box h3 {
  text-align: center;
  font-size: 32px;
}
.item-box i img {
  width: 70px;
  height: 50px;
  margin: 35px;
}
.item-box p {
  font-size: 24px;
}
.box-plan-one {
  background-color: rgb(236, 247, 243);
}

.box-plan-two {
  background-color: rgb(243, 225, 225);
}
.box-plan-three {
  background-color: rgb(236, 233, 221);
}

.section-copy {
  width: 100%;

  margin: 0 auto;
  background-color: #fff;
}

.div-copy {
  width: 70%;
  height: 600px;
  display: flex;
  margin: 0 auto;
  border-top: 2px solid #444;
  padding: 100px;
}
.child-div-copy {
  width: 50%;
}
.child-div-copy p {
  width: 600px;
  padding: 40px 0;
}
.img-copy {
  width: 50%;
}
.second-title {
  font-size: 64px;
}
#btn {
  width: 300px;
  height: 70px;
}
.section-child-div {
  margin-left: 100px;
}
.section-five-div {
  border-top: 2px solid #444;
  width: 80%;
  text-align: center;
  margin: 0 auto;
}
.section-five-div p {
  font-size: 22px;
}
.modal__form {
  margin: 0 auto;
  width: 50%;
  align-items: center;
  height: 400px;
  padding: 60px;
  background-color: bisque;
}

.modal__form label {
  font-size: 1.7rem;
  font-weight: 500;
  margin-right: 30px;
  width: 50%;
  padding-top: 100px;
}

.modal__form input {
  width: 300px;
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.modal__form button {
  justify-self: center;
  margin-top: 1rem;
  font-size: 22px;
}
.label-a {
  width: 80%;
}

.footer {
  width: 100%;
  height: 200px;
  background-color: #444;
}
.div-footer {
  padding: 30px;
  margin: 0 auto;
  text-align: center;
  display: block;
}
.div-footer h3 {
  font-family: "Original Surfer", cursive;
  font-size: 33px;
  color: #fff;
}
.div-footer p {
  color: #f3f3f3;
}
.section-bonus {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url(/ressources/img/donation-10.jpg);
  background-position: center;
  background-size: cover;

  background-repeat: no-repeat;
}
.bonus-div {
  text-align: center;
  width: 60%;
  border: 2px solid rgb(228, 175, 175);
  margin: 0 auto;
  height: 100%;
}
.bonus-div h2 {
  color: #fff;
  font-size: 33px;
}
.bonus-div p {
  color: #f3f3f3;
  font-size: 22px;
}
